<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DEMO2DB"
        connectionString="Data Source=DESKTOP-PGDL1SQ;Initial Catalog=DEMO2;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>